parameters:
	ignoreErrors:
		-
			message: "#^Property Phpactor\\\\Docblock\\\\DefaultValue\\:\\:\\$value has no typehint specified\\.$#"
			count: 1
			path: lib/DefaultValue.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\DefaultValue\\:\\:__construct\\(\\) has parameter \\$value with no typehint specified\\.$#"
			count: 1
			path: lib/DefaultValue.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\DefaultValue\\:\\:none\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: lib/DefaultValue.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\DefaultValue\\:\\:ofValue\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: lib/DefaultValue.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\DefaultValue\\:\\:ofValue\\(\\) has parameter \\$value with no typehint specified\\.$#"
			count: 1
			path: lib/DefaultValue.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\DefaultValue\\:\\:value\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: lib/DefaultValue.php

		-
			message: "#^Property Phpactor\\\\Docblock\\\\Docblock\\:\\:\\$tags type has no value type specified in iterable type Phpactor\\\\Docblock\\\\Tags\\.$#"
			count: 1
			path: lib/Docblock.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Docblock\\:\\:__construct\\(\\) has parameter \\$tags with no value type specified in iterable type Phpactor\\\\Docblock\\\\Tags\\.$#"
			count: 1
			path: lib/Docblock.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Docblock\\:\\:fromTags\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: lib/Docblock.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Docblock\\:\\:fromTags\\(\\) has parameter \\$tags with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Docblock.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Docblock\\:\\:fromProseAndTags\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: lib/Docblock.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Docblock\\:\\:fromProseAndTags\\(\\) has parameter \\$tags with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Docblock.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Docblock\\:\\:tags\\(\\) return type has no value type specified in iterable type Phpactor\\\\Docblock\\\\Tags\\.$#"
			count: 1
			path: lib/Docblock.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\DocblockFactory\\:\\:createVarTag\\(\\) has parameter \\$metadata with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/DocblockFactory.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\DocblockFactory\\:\\:createParamTag\\(\\) has parameter \\$metadata with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/DocblockFactory.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\DocblockFactory\\:\\:createMethodTag\\(\\) has parameter \\$metadata with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/DocblockFactory.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\DocblockFactory\\:\\:createReturnTag\\(\\) has parameter \\$metadata with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/DocblockFactory.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\DocblockFactory\\:\\:createPropertyTag\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: lib/DocblockFactory.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\DocblockFactory\\:\\:createPropertyTag\\(\\) has parameter \\$metadata with no typehint specified\\.$#"
			count: 1
			path: lib/DocblockFactory.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\DocblockFactory\\:\\:createDeprecatedTag\\(\\) has parameter \\$metadata with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/DocblockFactory.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\DocblockFactory\\:\\:createMixinTag\\(\\) has parameter \\$metadata with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/DocblockFactory.php

		-
			message: "#^Class Phpactor\\\\Docblock\\\\DocblockTypes implements generic interface IteratorAggregate but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: lib/DocblockTypes.php

		-
			message: "#^Property Phpactor\\\\Docblock\\\\DocblockTypes\\:\\:\\$docblocktypes has no typehint specified\\.$#"
			count: 1
			path: lib/DocblockTypes.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\DocblockTypes\\:\\:__construct\\(\\) has parameter \\$docblocktypes with no typehint specified\\.$#"
			count: 1
			path: lib/DocblockTypes.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\DocblockTypes\\:\\:empty\\(\\) return type has no value type specified in iterable type Phpactor\\\\Docblock\\\\DocblockTypes\\.$#"
			count: 1
			path: lib/DocblockTypes.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\DocblockTypes\\:\\:fromStringTypes\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: lib/DocblockTypes.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\DocblockTypes\\:\\:fromStringTypes\\(\\) has parameter \\$types with no typehint specified\\.$#"
			count: 1
			path: lib/DocblockTypes.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\DocblockTypes\\:\\:fromDocblockTypes\\(\\) has parameter \\$docblocktypes with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/DocblockTypes.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\DocblockTypes\\:\\:fromDocblockTypes\\(\\) return type has no value type specified in iterable type Phpactor\\\\Docblock\\\\DocblockTypes\\.$#"
			count: 1
			path: lib/DocblockTypes.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\DocblockTypes\\:\\:getIterator\\(\\) return type has no value type specified in iterable type Traversable\\<mixed, mixed\\>\\.$#"
			count: 1
			path: lib/DocblockTypes.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\InheritTag\\:\\:name\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: lib/InheritTag.php

		-
			message: "#^Property Phpactor\\\\Docblock\\\\Method\\\\Parameter\\:\\:\\$types type has no value type specified in iterable type Phpactor\\\\Docblock\\\\DocblockTypes\\.$#"
			count: 1
			path: lib/Method/Parameter.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Method\\\\Parameter\\:\\:__construct\\(\\) has parameter \\$types with no value type specified in iterable type Phpactor\\\\Docblock\\\\DocblockTypes\\.$#"
			count: 1
			path: lib/Method/Parameter.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Method\\\\Parameter\\:\\:types\\(\\) return type has no value type specified in iterable type Phpactor\\\\Docblock\\\\DocblockTypes\\.$#"
			count: 1
			path: lib/Method/Parameter.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Parser\\:\\:parse\\(\\) has parameter \\$docblock with no typehint specified\\.$#"
			count: 1
			path: lib/Parser.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Parser\\:\\:parse\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Parser.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Parser\\:\\:extractProse\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: lib/Parser.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Parser\\\\MethodParser\\:\\:parseMethod\\(\\) has parameter \\$parts with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Parser/MethodParser.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Parser\\\\MethodParser\\:\\:methodInfo\\(\\) has parameter \\$parts with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Parser/MethodParser.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Parser\\\\MethodParser\\:\\:methodInfo\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Parser/MethodParser.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Parser\\\\MethodParser\\:\\:parseParameters\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Parser/MethodParser.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Parser\\\\ParameterParser\\:\\:extractParts\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: lib/Parser/ParameterParser.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Parser\\\\TypesParser\\:\\:parseTypes\\(\\) return type has no value type specified in iterable type Phpactor\\\\Docblock\\\\DocblockTypes\\.$#"
			count: 1
			path: lib/Parser/TypesParser.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Tag\\:\\:name\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: lib/Tag.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Tag\\\\DeprecatedTag\\:\\:name\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: lib/Tag/DeprecatedTag.php

		-
			message: "#^Property Phpactor\\\\Docblock\\\\Tag\\\\MethodTag\\:\\:\\$types type has no value type specified in iterable type Phpactor\\\\Docblock\\\\DocblockTypes\\.$#"
			count: 1
			path: lib/Tag/MethodTag.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Tag\\\\MethodTag\\:\\:__construct\\(\\) has parameter \\$methodName with no typehint specified\\.$#"
			count: 1
			path: lib/Tag/MethodTag.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Tag\\\\MethodTag\\:\\:__construct\\(\\) has parameter \\$parameters with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Tag/MethodTag.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Tag\\\\MethodTag\\:\\:__construct\\(\\) has parameter \\$types with no value type specified in iterable type Phpactor\\\\Docblock\\\\DocblockTypes\\.$#"
			count: 1
			path: lib/Tag/MethodTag.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Tag\\\\MethodTag\\:\\:name\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: lib/Tag/MethodTag.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Tag\\\\MethodTag\\:\\:types\\(\\) return type has no value type specified in iterable type Phpactor\\\\Docblock\\\\DocblockTypes\\.$#"
			count: 1
			path: lib/Tag/MethodTag.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Tag\\\\MethodTag\\:\\:methodName\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: lib/Tag/MethodTag.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Tag\\\\MethodTag\\:\\:parameters\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Tag/MethodTag.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Tag\\\\ParamTag\\:\\:name\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: lib/Tag/ParamTag.php

		-
			message: "#^Property Phpactor\\\\Docblock\\\\Tag\\\\PropertyTag\\:\\:\\$types type has no value type specified in iterable type Phpactor\\\\Docblock\\\\DocblockTypes\\.$#"
			count: 1
			path: lib/Tag/PropertyTag.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Tag\\\\PropertyTag\\:\\:__construct\\(\\) has parameter \\$types with no value type specified in iterable type Phpactor\\\\Docblock\\\\DocblockTypes\\.$#"
			count: 1
			path: lib/Tag/PropertyTag.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Tag\\\\PropertyTag\\:\\:name\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: lib/Tag/PropertyTag.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Tag\\\\PropertyTag\\:\\:propertyName\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: lib/Tag/PropertyTag.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Tag\\\\PropertyTag\\:\\:types\\(\\) return type has no value type specified in iterable type Phpactor\\\\Docblock\\\\DocblockTypes\\.$#"
			count: 1
			path: lib/Tag/PropertyTag.php

		-
			message: "#^Property Phpactor\\\\Docblock\\\\Tag\\\\ReturnTag\\:\\:\\$types type has no value type specified in iterable type Phpactor\\\\Docblock\\\\DocblockTypes\\.$#"
			count: 1
			path: lib/Tag/ReturnTag.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Tag\\\\ReturnTag\\:\\:__construct\\(\\) has parameter \\$types with no value type specified in iterable type Phpactor\\\\Docblock\\\\DocblockTypes\\.$#"
			count: 1
			path: lib/Tag/ReturnTag.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Tag\\\\ReturnTag\\:\\:name\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: lib/Tag/ReturnTag.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Tag\\\\ReturnTag\\:\\:types\\(\\) return type has no value type specified in iterable type Phpactor\\\\Docblock\\\\DocblockTypes\\.$#"
			count: 1
			path: lib/Tag/ReturnTag.php

		-
			message: "#^Property Phpactor\\\\Docblock\\\\Tag\\\\VarTag\\:\\:\\$types type has no value type specified in iterable type Phpactor\\\\Docblock\\\\DocblockTypes\\.$#"
			count: 1
			path: lib/Tag/VarTag.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Tag\\\\VarTag\\:\\:__construct\\(\\) has parameter \\$types with no value type specified in iterable type Phpactor\\\\Docblock\\\\DocblockTypes\\.$#"
			count: 1
			path: lib/Tag/VarTag.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Tag\\\\VarTag\\:\\:__construct\\(\\) has parameter \\$varName with no typehint specified\\.$#"
			count: 1
			path: lib/Tag/VarTag.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Tag\\\\VarTag\\:\\:name\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: lib/Tag/VarTag.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Tag\\\\VarTag\\:\\:types\\(\\) return type has no value type specified in iterable type Phpactor\\\\Docblock\\\\DocblockTypes\\.$#"
			count: 1
			path: lib/Tag/VarTag.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Tag\\\\VarTag\\:\\:varName\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: lib/Tag/VarTag.php

		-
			message: "#^Class Phpactor\\\\Docblock\\\\Tags implements generic interface IteratorAggregate but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: lib/Tags.php

		-
			message: "#^Property Phpactor\\\\Docblock\\\\Tags\\:\\:\\$tags has no typehint specified\\.$#"
			count: 1
			path: lib/Tags.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Tags\\:\\:__construct\\(\\) has parameter \\$tags with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Tags.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Tags\\:\\:fromArray\\(\\) has parameter \\$tags with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Tags.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Tags\\:\\:fromArray\\(\\) return type has no value type specified in iterable type Phpactor\\\\Docblock\\\\Tags\\.$#"
			count: 1
			path: lib/Tags.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Tags\\:\\:getIterator\\(\\) return type has no value type specified in iterable type Traversable\\<mixed, mixed\\>\\.$#"
			count: 1
			path: lib/Tags.php

		-
			message: "#^Method Phpactor\\\\Docblock\\\\Tags\\:\\:byName\\(\\) return type has no value type specified in iterable type Phpactor\\\\Docblock\\\\Tags\\.$#"
			count: 1
			path: lib/Tags.php

